	.conteiner{;
			display: flex;
			width: 80%;
			margin: 10px, auto;
			flex-direction: column;
			text-align: center; 

		}
		.top{
			height: 150px;
			background-color: #337AFF;
			font-family: 'Zen Dots', cursive;
			color: white;
			font-size: 50px;
		}
		.middle {
			height: 500;
			display: flex;
		}
		.left{
			width: 15%;
			background-color: #FFE633; 
			
		}
		.center {
			width: 60%;
			background-color: #4B701C;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.right{
			width: 25%;
			background-color: #BF1B6D;
		}
		.bottom{
			height: 80px;
			background-color: #1F6D68;
		}
